<div class="posts">
    <div class="posts__container">
        <div class="posts__inner">
            <div class="input-block">
                <div class="input-block__img">
                    <img src="" alt="">
                </div>
                <div class="input-block__input">
                    <input type="text" [(ngModel)]="tweetText">
                    <div class="btn">
                        <button (click)="tweet()">Tweet</button>
                    </div>
                </div>
            </div>

            <ul class="posts__content">
                <li *ngFor="let post; let idx=index of posts" class="posts__item">
                    <div class="posts_user">
                        <p>{{post.user.username}}</p>
                        <button>Edit</button>
                        <button (click)="delete(idx)">Delete</button>
                        <button>Save</button>
                    </div>
                    <div class="posts__text">
                        <p>{{post.content}}</p>
                    </div>

                    <div class="posts__actions">
                        <span>{{post.likeCount}}</span>
                        <button (click)="like(idx)">Like</button>
                        <span>{{post.disLikeCount}}</span>
                        <button (click)="dislike(idx)">Dislike</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>