<div class="header">
    <div class="header__container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="assets/124021.png" alt="logo">
            </div>
            <div class="header__content">
                <div class="header__item">
                    <div class="header__text">
                        <a [routerLink]="['']">Домой</a>
                    </div>
                </div>
                <div class="header__item">
                    <div class="header__text">
                        <a [routerLink]="['/profile']">Профиль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>